version: 1.0.{build}

image:
- Visual Studio 2017

test: off

build:
  parallel: true

platform:
- x64

environment:
  global:
    PYTHON: "C:\\conda"
    CMD_IN_ENV: "cmd /E:ON /V:ON /C .\\ci-helpers\\appveyor\\windows_sdk.cmd"

  matrix:
    - PYTHON_VERSION: "3.5"
      PYTHON_ARCH: "64"
    - PYTHON_VERSION: "3.6"
      PYTHON_ARCH: "64"
    - PYTHON_VERSION: "3.7"
      PYTHON_ARCH: "64"

install:
  - if "%PYTHON_VERSION%" == "2.7" set "BASE_PYTHON_VERSION=36"
  - if "%PYTHON_VERSION%" == "3.5" set "BASE_PYTHON_VERSION=36"
  - if "%PYTHON_VERSION%" == "3.6" set "BASE_PYTHON_VERSION=36"
  - if "%PYTHON_VERSION%" == "3.7" set "BASE_PYTHON_VERSION=36"
  - if "%PYTHON_ARCH%" == "64" set "ARCH_LABEL=-x64"
  - if "%PYTHON_ARCH%" == "64" set "CMAKE_ARCH=x%PYTHON_ARCH%"
  - set "CONDA_ROOT=C:\Miniconda%BASE_PYTHON_VERSION%%ARCH_LABEL%"
  - set "PATH=%CONDA_ROOT%;%CONDA_ROOT%\Scripts;%CONDA_ROOT%\Library\bin;%PATH%"
  - echo CONDA_ROOT %CONDA_ROOT%
  - echo CONDA_PREFIX %CONDA_PREFIX%
  - echo PATH %PATH%
  - conda config --set always_yes yes
  - conda config --set anaconda_upload no
  - conda install -n root conda-build anaconda-client --no-pin
  - "%CONDA_ROOT%\\Scripts\\activate root"

build_script:
  - echo CONDA_ROOT %CONDA_ROOT%
  - echo CONDA_PREFIX %CONDA_PREFIX%
  - echo PATH %PATH%
  - conda info -a
  - python update-conda-yaml.py
  - cp recipe/meta.yaml ./
  - conda-build --python="%PYTHON_VERSION%" .
