# direct includes
include CMakeLists.txt
include CTestConfig.cmake
include VERSION
include LICENSE
include .license.c
include .license.py
include build.sh
include bld.bat
include meta.yaml
include README.md
include CHANGES.md
# recursive includes
recursive-include cmake *
recursive-include examples *
recursive-include source *
# global exclude
global-exclude *.pyc
global-exclude *.git*
global-exclude *__pycache__*
# recursive excludes
recursive-exclude pybind11/docs/.build *
